.container {
  display: grid;
  grid-template-columns: repeat(8, minmax(200px, 1fr));
  gap: 20px;
  box-shadow: #151516 0px 0px 15px;
  padding: 25px;
}

.container:hover .pokemon-card {
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.container:hover .pokemon-card:hover {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  background: linear-gradient(60deg, #c13121 0%, #1d2229 100%);
  color: white;
}

.pokemon-card {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 10px;
  background: linear-gradient(60deg, #ababfd 0%, #1d2229 100%);
  overflow: hidden;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.15);
  z-index: 100;
}

.pokemon-image {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.5s ease;
  cursor: pointer;
}

.pokemon-image:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.pokemon-number {
  font-weight: bold;
  margin-bottom: 10px;
}

.pokemon-name {
  font-size: 24px;
  margin-bottom: 10px;
  color: orange;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.pokemon-type {
  margin-bottom: 10px;
}

.pokemon-description {
  margin-bottom: 10px;
}

.pokemon-height {
  font-weight: bold;
}
